.browser {
    background-color: white;
}

.browser__navbar {
    height: 10%;
    background-color: white;
}

.browser__page {
    height: 90%;
    background-color: black;
}

.browser__page-wrapper {
    height: 133%;
    width: 133.3%;
    -webkit-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: scale(0.75);
    -moz-transform: scale(0.75);
    transform: scale(0.75);
}

.browser__addres-field {
    float: left;
    height: 100%;
    width: 78%;
    font-size: 50px;
}

.browser__reload-button {
    float: left;
    height: 110%;
    width: 20%;
    background-color: #DADADA;
    border-radius: 100%;
    font-size: 25px;
    color: white;
}

.browser__reload-button:hover {
    cursor: pointer;
}