#phone_icon {
    background-image: url(../img/icons/phone_icon.png);
}


#messages_icon {
    background-image: url(../img/icons/messages.png);
}


#safari_icon {
    background-image: url(../img/icons/safari.png);
}

#music_icon {
    background-image: url(../img/icons/music.png);
}