#calculator_icon {
    background-image: url(../img/icons/calculator.png);
}

#safari_icon {
    background-image: url(../img/icons/safari.png);
}





/*#phone_icon {
    background-image: url(../img/icons/phone_icon.png);
}


#messages_icon {
    background-image: url(../img/icons/messages.png);
}


#music_icon {
    background-image: url(../img/icons/music.png);
}

#mail_icon {
    background-image: url(../img/icons/mail.png);
}

#app_store_icon {
    background-image: url(../img/icons/app_store.png);
}

#clock_icon {
    background-image: url(../img/icons/clock.png);
}

#maps_icon {
    background-image: url(../img/icons/maps.png);
}



#photos_icon {
    background-image: url(../img/icons/photos.png);
}

#contacts_icon {
    background-image: url(../img/icons/contacts.png);
}

#videos_icon {
    background-image: url(../img/icons/videos.png);
}

#itunes_icon {
    background-image: url(../img/icons/itunes.png);
}

#game_center_icon {
    background-image: url(../img/icons/game_center.png);
}

#notes_icon {
    background-image: url(../img/icons/notes.png);
}

#weather_icon {
    background-image: url(../img/icons/weather.png);
}

#calendar_icon {
    background-image: url(../img/icons/calendar.png);
}

#reminders_icon {
    background-image: url(../img/icons/reminders.png);
}

#face_time_icon {
    background-image: url(../img/icons/face_time.png);
}

#compass_icon {
    background-image: url(../img/icons/compass.png);
}*/