.interface {
    height: 100%;
    width: 100%;
    background: linear-gradient(#2CA67C, #3283AD);
    background-image: url(../img/wallpaper/wallpaper_ios.jpg);
    background-position: center;
    -webkit-background-size: cover;
    background-size: cover;
}

.icon {
    float: left;
    height: 45px;
    width: 45px;
    background-color: white;
    margin:7px;
    border-radius: 10px;

    -webkit-background-size: cover;
    background-size: cover;
}

.icon:hover {
    cursor: pointer;
}

.icon--empty {
    background-color: rgba(0,0,0,0);
}

.icons {
    height: 82%;
}

.icon-row {
    height: 15%;
}

.dockbar {
    height: 15%;
    background-color: rgba(255,255,255,0.2);
}

.marker {
    height: 3%;
}

.marker__point {
    height: 5px;
    width: 5px;
    background-color: white;
    border-radius: 100%;
    margin: 0 auto;
}