body{
    /*background-color: #FF5722;*/
    background: linear-gradient(#009688, #673AB7);
    min-height: 100vh;
}


*{
    padding: 0;
    margin: 0;
}


.slogan-h1{
    position: absolute;
    color: white;
    font-family: Arial;
    background-color: black;
    display: inline;
    text-align: center;
    font-size: 50px;
    top: 10px;
    padding: 0 20px 0 20px;
}


.slogan-p{
    font-family: Arial;
    font-weight: 600;
    background-color: white;
    color: black;
    font-size: 25px;
    position: absolute;
    top: 90px;
    left: 50px;
    padding-left: 10px;
    padding-right: 10px;
}


.shadow{
    box-shadow: 5px 5px 15px rgba(0,0,0, 0.5);
}


.lite-shadow{
    box-shadow: 2px 2px 15px rgba(0,0,0, 0.2);
}


.margin0auto{
    margin: 0 auto;
}


.margin-top-30px{
    margin-top: 30px;
}


.pretty-selection::-moz-selection {
    background-color: #FF477F;
    color: black;
}


.pretty-selection::selection  {
    background-color: #FF477F;
    color: black;
}


.pretty-selection::-webkit-selection {
    background-color: #FF477F;
    color: black;
}


.pretty-hr{
    height: 20px;
}


@media only screen and (max-width: 1250px) {

    .slogan-h1{
        position: relative;
        display: inline;
        text-align: center;
        top: 0;
    }

    .slogan-p{
        display: inline;
        position: relative;
        top: 0;
        left: 0;
    }

    span{
        display: block;
        clear:both;
    }

    #colors {
        float: left;
        position: absolute;
        top: 30vh;
        left: 1vw;
        width: 70px;
        height: 220px;
    }

}

@media only screen and (max-width: 600px) {

    #colors{
        position: inherit;
        float: none;
        height: 60px;
        width: 250px;
        background-color: rgba(255,255,255, 0.8);
        margin: 0 auto;
        border-radius: 15px;
    }

}